{
  "modules":[
    {
      "id":"pistachio",
      "module":"devman-pistachio",
      "options":{}
    }
  ],
  "rules":[
    {
      "name":"server-templates",
      "module":"pistachio",
      "source":"/Users/philipp/Documents/durchblicker/website/templates/**/*.tpl",
      "target":{ "search":"\\.(?:tpl)$", "replace":".pistachio" }
    }
  ]
}